window {
margin: 0px;
border: border 2px solid #181825;
background-color: #1e1e2e;
color: #cdd6f4;
border-radius: 20px;
}

#input {
margin: 5px;
color: #1e1e2e;
background-color: #f5e0dc;
border: border 2px solid #181825;
border-radius: 8px;
}

#inner-box {
margin: 5px;
border: #1e1e2e;
background-color: #11111b;
border-radius: 20px;
}

#outer-box {
margin: 5px;
border: none;
background-color: #11111b;
border-radius: 10px;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border-radius: 10px;
color: #d8dee9;
}

#entry:selected {
background-color: #cba6f7;
color: #1e1e2e;
}
